h1,h2{
    color:#0d0b61;
     text-align: center;
     text-decoration:underline;
     font-weight:bold;
     background-color:rgba(17, 17, 134, 0.644);
}
h3{
    color:rgb(233, 24, 59);
    margin:40px;
    text-decoration:underline;
}
h4{
    color:black;
    text-decoration:underline;
}
p{
    font-size:medium;
}
.logicgate{
    display:block;
    justify-content:space-between;
    align-items:left;
    max-width:1200px;
    margin:auto;
    padding:20px;
    gap:10px;
    flex-direction:column;
}


.left, .right {
  display: block;
}


.right{

    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-290px;
    gap:10px;
    margin-bottom:90px;
}
.button1{
    text-align:left;

}
body{
    background-color:rgba(221, 221, 44, 0.466)
}

